<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "Business information";
	var Metodo = "GET";
	var Descripcion = "Returns all basic information of a certain business specified by the id. In case if the business exists the following data will be inside the Array 'data': Array 'business' [name, address, phone, schedule(Array[open, from, to])] <br><br>To see an example for this function, try using the Form situated inside of the input section. <br><br>There is a condition for the function.<table class='ui table'><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td>ID</td><td>The business id must be only a positive entire number.</td></tr></tbody></table>";
	var URL = dominio+"business/:id";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		
		var id = $("#id").val();
		if(id == ""){
			id = 0;
		}
		var data = id;
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(dominio+"business/"+id, Metodo, data);
	});
</script>

<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>ID</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='id' type="text" placeholder="Business ID">
</div>

<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Get information</button>
