<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "Delete business";
	var Metodo = "POST";
	var table = CodeTable(["23", "40", "43", "45", "60"]);
	var conditions = ConditionTable(["bid", "password"]);
	var Descripcion = "You can delete your business at any time. Including statistics and if another user has the business as favorite, will be removed from the list too.<br><br>"+exampleMessage+""+table+""+conditions;
	var URL = dominio+"business/delete/:bid";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		
		var id = $("#id").val();
		var password = $("#password").val();
		var data = "password="+password;
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(dominio+"business/delete/"+id, Metodo, data);
	});
</script>

<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>Business ID</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='id' type="text" placeholder="User id" value="">
</div>

<br><br>

<label>Password</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='password' type="text" placeholder="Password" value="">
</div>

<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Delete business</button>
