<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "Get nearby business";
	var Metodo = "GET";
	var table = CodeTable(["20", "30"]);
	var conditions = ConditionTable(["km", "lat", "lng"]);
	var Descripcion = "Get all nearby business position of a certain coords(LatLng) and X kilometer distance around. <br><br>"+exampleMessage+""+table+""+conditions;
	var URL = dominio+"business/geolocation/near";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		var latitude = $("#latitude").val();
		var longitude = $("#longitude").val();
		var km = $("#km").val();
		var data = "km="+km+"&lat="+latitude+"&lng="+longitude;	
		
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(URL, Metodo, data);
	});

	$("#getpostbtn").on('click', function() {
		$.ajax({
		  method: "POST",
		  url: "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAwHVWvL7zZou6jj40IN9RbxXFn087kdUg",
		  data: "",
			success: function(response) {
				console.log(response);
				var lat = response.location.lat+0.0041078;
				var lng = response.location.lng-0.0034313;
				$("#latitude").val(lat);
				$("#longitude").val(lng);
			}
		});
	});

</script>
<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>Latitude</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='latitude' type="text" placeholder="Latitude" value="">
</div>
<br><br>
<label>Longitude</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='longitude' type="text" placeholder="Longitude" value="">
</div>
<br><br>
<label>Kilometers</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='km' type="text" placeholder="Kilometer distance" value="1">
</div>
<br><br>
<button class='ui teal button' style="width: 95%;" id='getpostbtn'>Get your current position</button>
<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Get nearby business</button>
