<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "Update locksmith position";
	var Metodo = "POST";
	var table = CodeTable(["22", "40", "45", "60"]);
	var conditions = ConditionTable(["bid", "lat", "lng"]);
	var Descripcion = "Update the current locksmith position. <br><br>"+exampleMessage+""+table+""+conditions;
	var URL = dominio+"business/update/position/:bid";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		latitude = $("#latitude").val();
		longitude = $("#longitude").val();
		var id = $("#id").val();
		var data = "lat="+latitude+"&lng="+longitude+"&_METHOD=PUT";	
		
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(dominio+"business/update/position/"+id, Metodo, data);
	});

	$("#getpostbtn").on('click', function() {
		$.ajax({
		  method: "POST",
		  url: "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAwHVWvL7zZou6jj40IN9RbxXFn087kdUg",
		  data: "",
			success: function(response) {
				console.log(response);
				var lat = response.location.lat+0.0041078;
				var lng = response.location.lng-0.0034313;
				$("#latitude").val(lat);
				$("#longitude").val(lng);
			}
		});
	});

</script>
<!-- F O R M    F O R    I N P U T     C O D E    -->
<label>Business id</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='id' type="text" placeholder="Busines id" value="">
</div>
<br><br>
<label>Latitude</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='latitude' type="text" placeholder="Latitude" value="">
</div>
<br><br>
<label>Longitude</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='longitude' type="text" placeholder="Longitude" value="">
</div>
<br><br>
<button class='ui teal button' style="width: 95%;" id='getpostbtn'>Get your current position</button>
<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Update information</button>
