<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "User Login";
	var Metodo = "GET";
	var table = CodeTable(["20", "40", "41", "60"]);
	var conditions = ConditionTable(["email", "password"]);
	var Descripcion = "Verify a user's account through email and password. If the account is of an normal user, the response will be a JSON with user data, otherwise, if the account is of an business, the response will be a JSON with business data. <br><br>"+exampleMessage+""+table+""+conditions;
	var URL = dominio+"user/login";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		
		var email = $("#email").val();
		var password = $("#password").val();
		var role = $("#dropdown option:selected").val();
		var data = "email="+email+"&password="+password;
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(URL, Metodo, data);
	});
	$("#dropdown")
      .dropdown()
    ;
</script>

<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>Email</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='email' type="text" placeholder="Email" value="">
</div>

<br><br>
<label>Password</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='password' type="text" placeholder="Password" value="">
</div>

<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Log in</button>
