<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "User information";
	var Metodo = "GET";
	var Descripcion = "Returns all basic information of a certain user specified by its id. In case if the user exists the following data will be inside the Array 'data': Array 'user' [first name, last name, username, preference, business id] <br><br>To see an example for this function, try using the Form situated inside of the input section. <br><br>There is a condition for the function.<table class='ui table'><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td>ID</td><td>The user id must be only a positive entire number.</td></tr></tbody></table>";
	var URL = dominio+"user/:id";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {
		
		var id = $("#id").val();
		if(id == ""){
			id = 0;
		}
		var data = id;
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(dominio+"user/"+id, Metodo, data);
	});
</script>

<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>ID</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='id' type="text" placeholder="User ID">
</div>

<br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Get information</button>
