<script type="text/javascript">
/* I N F O R M A T I O N */
	var Titulo = "Update password";
	var Metodo = "POST";
	var table = CodeTable(["22", "43", "44", "60"]);
	var conditions = ConditionTable(["id", "password", "newpassword", "_METHOD"]);
	var Descripcion = "Updates current password of a previously created account, it must be confirmed by the user by using the current password.<br><br>"+exampleMessage+""+table+""+conditions;
	var URL = dominio+"user/update/:id";

/* T E M P L A T E */ 
	$("#Titulo").html(Titulo);
	$("#method").html(Metodo);
	$("#URL").html(URL);
	$("#URL").val(URL);
	$("#Descripcion").html(Descripcion);

	$("#btn").on('click', function () {

		var id     	      = $("#id").val();
		var password      = $("#password").val();
		var newpassword   = $("#newpassword").val();
		var data = "password="+password+"&newpassword="+newpassword+"&_METHOD=PUT";
		$("#output").html("<div class='ui active inverted dimmer'><div class='ui text loader'>Loading</div></div>");
		AJAX(dominio+"user/update/password/"+id, Metodo, data);



	});

</script>

<!-- F O R M    F O R    I N P U T     C O D E    -->

<label>User ID</label>
<br>
<div class="ui input" style="width: 95%;">
  <input id='id' type="text" placeholder="User ID">
</div>
<br><br>
<label>New password</label>
  <br>
  <div class="ui input" style="width: 95%;">
  	<input id='newpassword' type="text" placeholder="New Password">
  </div>
  <br><br>
  <label>Current password</label>
  <br>
  <div class="ui input" style="width: 95%;">
  	<input id='password' type="text" placeholder="Password">
  </div>
  <br><br>
<button class='ui teal button' style="width: 95%;" id='btn'>Save changes</button>

